{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_reservation.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>VRes</title>
</head>

<body>
    <section class="separator_field">
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
    </section>
    <header>
        <section class="date clickable">
            <img src="{% static 'img/arrow_left-pink.svg'%}">
            <p>29.03.2002</p>
            <img src="{% static 'img/arrow_right-pink.svg'%}">
        </section>

        <div class="add_reservation clickable">
            <img src="{% static '/img/plus-pink.svg' %}">
            <p class="text-pink">Dodaj rezerwację</p>
        </div>
        <section class="logo"><img class="logo-img" src="{% static 'img/logo.svg' %}"></section>
        <section class="show_summary clickable" onclick="summary_active()">
            <img src="{% static 'img/equals-pink.svg' %}"><p>Podsumowanie</p> 
        </section>
    </header>
    <main>
        <section class="hours">
            <p class="time">12:00</p>
            <p class="time">13:00</p>
            <p class="time">14:00</p>
            <p class="time">15:00</p>
            <p class="time">16:00</p>
            <p class="time">17:00</p>
            <p class="time">18:00</p>
            <p class="time">19:00</p>
            <p class="time">20:00</p>
            <p class="time">21:00</p>
        </section>
        <section class="timetable">
            <section class="reservation_field">

                <div class="reservation_field-hour" id="reservation_field-12">
                    <div class="reservation reservation_field-12 reservation-vr reservation-1x" onclick="reservation_clicked(this)"></div>
                </div>

                <div class="reservation_field-hour" id="reservation_field-13">
                </div>

                <div class="reservation_field-hour" id="reservation_field-14">
                </div>

                <div class="reservation_field-hour" id="reservation_field-15">
                </div>

                <div class="reservation_field-hour" id="reservation_field-16">
                </div>

                <div class="reservation_field-hour" id="reservation_field-17">
                </div>

                <div class="reservation_field-hour" id="reservation_field-18">
                </div>

                <div class="reservation_field-hour" id="reservation_field-19">
                </div>

                <div class="reservation_field-hour" id="reservation_field-20">
                </div>

                <div class="reservation_field-hour" id="reservation_field-21">
                </div>

            </section>
        </section>
    </main>

    <footer>
        <section id="summary" class="summary">
            <div class="payment_summary">
                <img src="{% static 'img/transfer-blue.svg' %}">
                <p id="transfer_sum"></p>
            </div>

            <div class="payment_summary">
                <img src="{% static 'img/card-blue.svg' %}">
                <p id="card_sum"></p>
            </div>

            <div class="payment_summary">
                <img src="{% static 'img/coin-blue.svg' %}">
                <p id="cash_sum"></p>
            </div>

            <div class="payment_summary">
                <img class="voucher-img" src="{% static 'img/voucher_mbkm-blue.svg' %}">
                <p id="voucher_mbkm_sum">200zł</p>
            </div>

            <div class="payment_summary">
                <img class="voucher-img" src="{% static 'img/voucher_vr-blue.svg' %}">
                <p id="voucher_vr_sum"></p>
            </div>

            <div class="payment_summary">
                <p class="summary_all">Razem:</p>
                <p id="summary_sum"></p>
            </div>
            
            <div class="summary_note">
                <p class="note">Notka:</p>
                <p class="note">asdsadsadsadsadada</p>
            </div>
        </section>
        <section class="reservation-full" id="reservation_window">

        </section>
    </footer>

</body>
</html>