{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_add_res.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_reservation.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>VRes</title>
</head>

<body onload="fetchReservations(today)">
    <section class="separator_field">
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
    </section>
    <header>
        <div class="header">
            <section class="date clickable">
                <img src="{% static 'img/arrow_left-pink.svg'%}" id="previous_day">
                <input type="date" id="selected_day" value="{{ today|date:'Y-m-d' }}">
                <img src="{% static 'img/arrow_right-pink.svg'%}" id="next_day">
            </section>

            <div class="add_reservation clickable" onclick="add_reservation(event)">
                <img src="{% static '/img/plus-pink.svg' %}">
                <p class="text-pink">Dodaj rezerwację</p>
            </div>
            <div class="add_note clickable" onclick="add_note(event)">
                <img src="{% static '/img/plus-pink.svg' %}">
                <p class="text-pink">Dodaj notatkę</p>
            </div>
            <section class="logo"><img class="logo-img" src="{% static 'img/logo.svg' %}"></section>
            <section class="show_summary">
                <img src="{% static 'img/equals-pink.svg' %}"><p>Podsumowanie</p> 
            </section>
        </div>
    </header>
    <main>
        <section class="hours">
            <p class="time">12:00</p>
            <p class="time">13:00</p>
            <p class="time">14:00</p>
            <p class="time">15:00</p>
            <p class="time">16:00</p>
            <p class="time">17:00</p>
            <p class="time">18:00</p>
            <p class="time">19:00</p>
            <p class="time">20:00</p>
            <p class="time">21:00</p>
        </section>
        <section class="timetable">
            <section class="reservation_field" id="reservation_field">

<!-- BLOK Z REZERWACJAMI -->

            </section>
        </section>
    </main>


    <!-- Okno dodawania notatki -->
    <section id="add_note_window" class="add_note_window">
        <img class="exit clickable" src="{% static '/img/cross-pink.svg' %}" onclick="(add_note_exit())">
        <div class="add_reservation_window-top">
            <p class="text-pink">Dodaj notatkę</p>
        </div>
        <div>
            <textarea id="add_note-text"></textarea>
        </div>
    </section>
    <!-- Okno dodawania rezerwacji -->
    <section id="add_reservation_window" class="add_reservation_window">
        <img class="exit clickable" src="{% static '/img/cross-pink.svg' %}" onclick="add_reservation_exit()">
        <div class="add_reservation_window-top">
            <p class="text-pink">Dodaj rezerwację</p>
        </div>
        <form method="POST" action="{% url 'dodaj_rezerwacje' %}">
            {% csrf_token %}
            <div class="add_reservation_window-mid">

                <div class="add_reservation_row">
                    <div class="add_reservation_row-left">
                        <p>Rodzaj rezerwacji</p>
                    </div>
                    <div class="add_reservation_row-right">
                        <select id="typ_rezerwacji" name="rodzaj_rezerwacji" required>
                          <option value="vr">VR Warsaw</option>
                          <option value="calendar">Kalendarz Google</option>
                          <option value="street">Spontaniczna</option>
                          <option value="block">Blok</option>
                        </select>
                    </div>
                </div>
                
                <div class="add_reservation_row">
                    <div class="add_reservation_row-left">
                        <p>Rezerwujący</p>
                    </div>
                    <div class="add_reservation_row-right">
                        <input name="osoba">
                    </div>
                </div>

                <div class="add_reservation_row">
                    <div class="add_reservation_row-left">
                        <p>Ilość osób</p>
                    </div>
                    <div class="add_reservation_row-right">
                        <select class="select_godzina" name="ilosc_osob" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="100">>8</option>
                        </select>
                    </div>
                </div>

                <div class="add_reservation_row">
                    <div class="add_reservation_row-left">
                        <p>Data</p>
                    </div>
                    <div class="add_reservation_row-right">
                        <input id="reservation_add_date" name="data" type="date" required>
                    </div>
                </div>

                <div class="add_reservation_row">
                    <div class="add_reservation_row-left">
                        <p>Godzina</p>
                    </div>
                    <div class="add_reservation_row-right">
                        <select class="select_godzina" name="godzina_h" required>
                            <!-- <option value="10">10</option>
                            <option value="11">11</option> -->
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <!-- <option value="22">22</option> -->
                        </select>
                        <p class="text-white">:</p>
                        <select name="godzina_min" class="select_godzina" required>
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                    </div>
                </div>

                <div class="add_reservation_row">
                    <div class="add_reservation_row-left">
                        <p>Czas</p>
                    </div>
                    <div class="add_reservation_row-right">
                        <select class="select_godzina" name="czas_h" required>
                            <option value="00">0</option>
                            <option value="01" selected>1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                        </select>
                        <p class="text-white">h</p>
                        <select class="select_godzina" name="czas_min" required>
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                        <p class="text-white">min</p>
                    </div>
                </div>

                <div class="add_reservation_row">
                    <div class="add_reservation_row-left">
                        <p>Kwota</p>
                    </div>
                    <div class="add_reservation_row-right">
                        <input name="kwota" type="number" value="0">
                    </div>
                </div>

                <div class="add_reservation_row">
                    <div class="add_reservation_row-left">
                        <p>Płatność</p>
                    </div>
                    <div class="add_reservation_row-right">
                        <select name="rodzaj_platnosci">
                            <option value="1">Przelew</option>
                            <option value="2">Karta</option>
                            <option value="3">Gotówka</option>
                            <option value="4">Voucher VR</option>
                            <option value="5">Voucher MyBenefit</option>
                            <option value="6">Voucher Katalog Marzeń</option>
                            <option value="7">Voucher Katalog Prezentów</option>
                            <option value="8">Voucher SuperPrezenty</option>
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="add_reservation_window-bottom">
                <button class="submit_button clickable" type="submit">Dodaj</button>
            </div>
        </form>
    </section>

    <section id="reservation-full" class="reservation_window">

    </section>

    <footer>
        <section class="summary">
            <div class="payment_summary">
                <img src="{% static 'img/transfer-blue.svg' %}">
                <p id="transfer_sum"></p>
            </div>

            <div class="payment_summary">
                <img src="{% static 'img/card-blue.svg' %}">
                <p id="card_sum"></p>
            </div>

            <div class="payment_summary">
                <img src="{% static 'img/coin-blue.svg' %}">
                <p id="cash_sum"></p>
            </div>

            <div class="payment_summary">
                <img src="{% static 'img/voucher_kmmb-blue.svg' %}">
                <p id="voucher_kmmb_sum"></p>
            </div>

            <div class="payment_summary">
                <img src="{% static 'img/voucher_vr-blue.svg' %}">
                <p id="voucher_vr_sum"></p>
            </div>

            <div class="payment_summary">
                <p class="summary_all">Razem:</p>
                <p id="summary_sum"></p>
            </div>
            
            <div class="summary_note">
                <p class="note">Notka:</p>
                <p class="note">asdsadsadsadsadada</p>
            </div>
        </section>
    </footer>

    {% if messages %}
        {% for message in messages %}
            <script type="text/javascript">
                alert("{{ message|escapejs }}");
            </script>
        {% endfor %}
    {% endif %}
</body>
</html>