* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0e0e0e;
    font-size: 26px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
   -webkit-appearance: none;
   margin: 0;

}
.kwota_input::-webkit-outer-spin-button, .kwota_input::-webkit-inner-spin-button, .add_kwota_input::-webkit-outer-spin-button, .add_kwota_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input{
    -moz-appearance: textfield;
}
.text-pink {
    color: #EE379F;
}

.text-blue {
    color: #32BCE0;
}

.text-white {
    color: white;
}

svg {
    width: 20px;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

header {
    width: 100%;
    margin-right: 1%;
    height: 100px;
    background-color: rgba(48, 48, 48, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    position: fixed;
    z-index: 9998;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 200px 1fr 1fr 1fr;
    gap: 20px;
    color: #a02424
}

.header {
    width: 99%;
    margin-right: 1%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1%;
    position: fixed;
    z-index: 9998;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 200px 1fr 1fr 1fr;
    gap: 20px;
}


header input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(36%) sepia(99%) saturate(746%) hue-rotate(297deg) brightness(96%) contrast(93%);
  }
  
    .date {
        width: 220px;   
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #32BCE0;
        grid-column: 1;
    }
        @supports (-moz-appearance: none) {
        .date {
            width: 230px;
        }
        }
        @supports (-moz-appearance: none) {
        #selected_day {
            width: 164px !important;
        }
        }

        
        #selected_day {
            background-color: transparent;
            color: #32BCE0;
            border: 0;
            font-size: 26px;
            width: 155px;
            font-family: serif;
        }

    .add_reservation {
        width: 215px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #EE379F;
        grid-column: 2;
    }

    .add_note {
        width: 180px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #EE379F;
        grid-column: 3;
    }

    .show_summary {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #EE379F;
        gap: 10px;
        grid-column: 7;
    }

main {
    height: 1009px;
    width: 100%;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.separator_field {
    position: absolute;
    height: 1009px;
    width: 84%;
}

    .separator {
        width: 100%;
        margin-top: 100px;
        height: 1px;
        background-color: #EE379F;
    }

.hours {
    height: 1009px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

    .time {
        width: 100px;
        height: 101px;
        font-size: 28px;
        color: #32BCE0;
        margin-top: 5px;
        margin-left: 10px;
    }

.timetable {
    height: 1009px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}

footer {
    height: 969px;
    margin-top: 120px;
    width: 14%;
    margin-right: 1%;
    position: absolute;
    align-self: flex-end;
}

footer svg {
    height: 20px;
    width: auto;
}

.summary {
    height: 969px;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    color: #EE379F;
}

    .summary_bottom {
        width: 100%;
        height: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
        .payment_summary {
            height: 60px;
            width: 60%;
            margin-top: 20px;
            margin-bottom: 21px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .payment_summary::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #32BCE0;
            position: absolute;
            margin-top: 100px;
        }

        .summary_all {
            font-size: 24px;
            color: #32BCE0;
        }

        .summary_note {
            height: 60px;
            width: 75%;
            margin-top: 20px;
            
        }

        .note {
            font-size: 24px;
            color: #32BCE0;
        }

        .note:nth-of-type(2) {
            font-size: 18px;
            color: #EE379F;
        }
