.reservation_field {
    position: absolute;
    height: 1009px;
    width: calc(84% - 100px);
}

    .reservation_field-hour {
        width: 100%;
        height: 101px;
        display: flex;
        flex-direction: row;
    }

.reservation {
    margin-top: 50px;
    height: 90px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 30px;
    --base-margin-top: 5px;
    --half_margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: 18px;
}

.reservation img {
    height: 15px;
}

    .reservation_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 20px;
        margin-left: 20px;
    }

    .reservation_info-gap {
        margin-left: 10px;
    }

.reservation:hover {
    cursor: pointer;
}

    .reservation-1x {
        width: calc(12.5% - 5px);
    }
    .reservation-2x {
        width: calc(25% - 5px);
    }
    .reservation-3x {
        width: calc(37.5% - 5px);
    }
    .reservation-4x {
        width: calc(50% - 5px);
    }
    .reservation-5x {
        width: calc(62.5% - 5px);
    }
    .reservation-6x {
        width: calc(75% - 5px);
    }
    .reservation-7x {
        width: calc(87.5% - 5px);
    }
    .reservation-8x {
        width: calc(100% - 5px);
    }

    .reservation-half {
        margin-top: calc(var(--base-margin-top) + var(--half_margin));
    }
    
    .reservation-vr {
        background-color: #4F3EE3;
    }

    .reservation-calendar {
        background-color: #D72B2B;
    }

    .reservation-street {
        background-color: #0E733A;
    }

    .reservation-block  {
        background-color: white;
    }

.reservation-full {
    height: 969px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    color: #ffff;
    display: none;
    background-color: #D72B2B;
}

.active {
    display: flex;
}


    /* .reservation-12h {
        margin-top: 5px;
    }
    .reservation-13h {
        margin-top: 106px;
    }
    .reservation-14h {
        margin-top: 207px;
    }
    .reservation-15h {
        margin-top: 308px;
    }
    .reservation-16h {
        margin-top: 409px;
    }
    .reservation-17h {
        margin-top: 510px;
    }
    .reservation-18h {
        margin-top: 611px;
    }
    .reservation-19h {
        margin-top: 712px;
    }
    .reservation-20h {
        margin-top: 813px;
    }
    .reservation-21h {
        margin-top: 914px;
    } */