.reservation_field {
    position: absolute;
    height: 1009px;
    width: calc(84% - 100px);
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(30, 1fr);
    grid-auto-flow: row;
}

.reservation {
    margin-top: 50px;
    height: 90px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 30px;
    --base-margin-top: 5px;
    --half_margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: 18px;
}

.reservation-vr {
    background-color: #4F3EE3;
}

.reservation-calendar {
    background-color: #D72B2B;
}

.reservation-street {
    background-color: #0E733A;
}

.reservation-block  {
    background-color: white;
}

.reservation img {
    height: 18px;
    width: auto;
}

    .reservation_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 20px;
        margin-left: 20px;
    }

    .reservation_info-gap {
        margin-left: 10px;
    }

.reservation:hover {
    cursor: pointer;
}

    .reservation-1x {
        grid-column: span 1;
    }
    .reservation-2x {
        grid-column: span 2;
    }
    .reservation-3x {
        grid-column: span 3;
    }
    .reservation-4x {
        grid-column: span 4;
    }
    .reservation-5x {
        grid-column: span 5;
    }
    .reservation-6x {
        grid-column: span 6;
    }
    .reservation-7x {
        grid-column: span 7;
    }
    .reservation-8x, .reservation-100x {
        grid-column: span 8;
    }


    /* .reservation-10clock {
        margin-top: 5px;
    }
    .reservation-11clock {
        margin-top: 5px;
    } */
    .reservation-12clock {
        grid-row: 1 / 4;
    }
    .reservation-13clock {
        grid-row: 4 / 7;
    }
    .reservation-14clock {
        grid-row: 7 / 10;
    }
    .reservation-15clock {
        grid-row: 10 / 13;
    }
    .reservation-16clock {
        grid-row: 13 / 16;
    }
    .reservation-17clock {
        grid-row: 16 / 19;
    }
    .reservation-18clock {
        grid-row: 19 / 22;
    }
    .reservation-19clock {
        grid-row: 22 / 25;
    }
    .reservation-20clock {
        grid-row: 25 / 28;
    }
    .reservation-21clock {
        grid-row: 28 / 31;
    }

    .reservation-15part {

    }

    .reservation-30part {

    }

    .reservation-45part {

    }





.reservation-full {
    height: 969px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    color: #ffff;
    display: none;
    background-color: #D72B2B;
}

.active {
    display: flex;
}


