.reservation_field {
    position: absolute;
    height: 1009px;
    width: calc(84% - 100px);
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(40, 1fr);
    grid-auto-flow: row;
}

.reservation {
    --grid_height: 0;
    --grid_start: 0;
    --grid_end: 0;
    height: var(--res_height)px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
}

.reservation-vr {
    background-color: #4F3EE3;
}

.reservation-calendar {
    background-color: #D72B2B;
}

.reservation-street {
    background-color: #0E733A;
}

.reservation-block  {
    background-color: white;
}

.reservation img {
    height: 15px;
    width: auto;
}

    .reservation_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 20px;
        margin-top: 5px;
        margin-left: 20px;
    }

    .reservation_info-gap {
        margin-left: 10px;
    }

.reservation:hover {
    cursor: pointer;
}   

.reservation-full {
    height: 969px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    color: #ffff;
    display: none;
    background-color: #D72B2B;
}

.active {
    display: flex;
}


